.star-rating{

display:flex;

gap:10px;

justify-content:center;

}

.star{

font-size:34px;

border:none;

background:none;

cursor:pointer;

color:#d5d5d5;

transition:.3s;

}

.star.active{

color:var(--coffee);

}

.star:hover{

transform:scale(1.25);

}