@import url("./variables.css");
@import url("./reset.css");
@import url("./animations.css");

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Manrope:wght@300;400;500;600;700&display=swap');

body{

    background:var(--bg);

    color:var(--text);

    font-family:"Manrope",sans-serif;

    -webkit-font-smoothing:antialiased;

}

.container{

    width:min(90%,var(--container));

    margin:auto;

}

.section{

    padding:120px 0;

}

.title{

    font-family:"Cormorant Garamond",serif;

    font-size:clamp(3rem,7vw,6rem);

    line-height:1;

    font-weight:600;

}

.subtitle{

    color:var(--text-light);

    line-height:1.8;

    margin-top:24px;

    max-width:580px;

}

.btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:12px;

    margin-top:42px;

    padding:18px 34px;

    background:var(--coffee);

    color:white;

    border-radius:999px;

    transition:var(--transition);

}

.btn:hover{

    transform:translateY(-4px);

    box-shadow:var(--shadow-md);

}