.work-heading{

margin-bottom:80px;

}

.work-heading h1{

font-size:5rem;

font-family:"Cormorant Garamond",serif;

}

.work-heading p{

max-width:600px;

margin-top:24px;

color:var(--text-light);

}

.masonry{

display:grid;

grid-template-columns:

1.2fr .8fr;

grid-auto-rows:300px;

gap:24px;

}

.project-card:nth-child(1){

grid-row:span 2;

}

.project-card:nth-child(4){

grid-column:span 2;

}