.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    background:rgba(252,249,247,.88);

    backdrop-filter:blur(18px);

    border-bottom:1px solid var(--border);

    z-index:999;

}

.nav-wrapper{

    height:90px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}

.logo{

    display:flex;

    flex-direction:column;

}

.logo span{

    font-family:"Cormorant Garamond",serif;

    font-size:2rem;

    letter-spacing:3px;

}

.logo small{

    letter-spacing:6px;

    color:var(--text-light);

    font-size:.72rem;

}

nav ul{

    display:flex;

    gap:42px;

}

nav a{

    position:relative;

    transition:.3s;

}

nav a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:1px;

    background:var(--coffee);

    transition:.3s;

}

nav a:hover::after{

    width:100%;

}